<h2>Registry Connections</h2>

<div id="accordion" class="panel-group">
  <% @owners.each_with_index do |o,i| %>
    <div class="panel panel-default">    
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href=<%= "#owner#{i+1}" %>><%= "#{i+1}. #{o.email}" %></a>
            </h4>
        </div>
        <div id=<%= "owner#{i+1}" %> class="panel-collapse collapse">
            <div class="panel-body">
              <% o.registries.each do |r| %>
                <li><%= r.name %> -- <b>Payment Method:</b> <%= r.payment_method.provider %>; <b>Payment Username:</b> <%= r.payment_method.username %></li>
              <% end %>
            </div>
        </div>
    </div>
  <% end %>
</div>