<%= simple_form_for @registry, :html => { :class => "form-style-10", :id => "registry-form" }, :remote => true do |f| %>
  <% if @registry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registry.errors.count, "error") %> prohibited this registry from being saved:</h2>

      <ul>
      <% @registry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_field :name, placeholder: 'Registry Name' %>
    <%= f.text_field :goal, placeholder: 'Honeymoon Fund Goal' %>
    <%= f.fields_for :user_registry do |ff| %>
      <%= ff.select :payment_method, options_for_select(current_user.payment_methods.map{ |pm| pm.custom_name }.unshift(["Select a payment account", ""])) %>
      <%= ff.hidden_field :active, :value => true %>
    <% end %>
  </div>  
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>