<button type="button" class="btn btn-lg" data-toggle="modal" data-target="#new-registry">Create New Registry</button>

<h1>Listing registries</h1>

<% reg_types = [['Owner', @owner],['Administrator', @administrator],['Guest', @guest]] %>

<div id="accordion" class="panel-group">
  <% reg_types.each do |r| %>
    <div class="panel panel-default">    
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href=<%= "##{r[0]}" %>><%= "#{r[0]}" %></a>
            </h4>
        </div>
        <div id=<%= "#{r[0]}" %> class="panel-collapse collapse">
            <div class="panel-body" id=<%= "#{r[0]}-listing" %>>
                <% r[1].each do |reg| %>
                  <li><%= link_to reg.name, reg %></li>
                <% end %>
            </div>
        </div>
    </div>
  <% end %>
</div>
<br>

<!-- Sign Up Modal -->
<div id="new-registry" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Registry</h4>
      </div>

      <!-- Tab panes/Modal Body -->
      <div class="modal-body">
        <div role="tabpanel" class="tab-pane active" id="owner">
          <%= render 'form' %>
        </div>
        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#new-payment">Create New Payment Method</button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Payment Method Modal -->
<div id="new-payment" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Payment Method</h4>
      </div>

      <!-- Tab panes/Modal Body -->
      <div class="modal-body">
        <%= render 'users/payment_method_form' %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#registry-form').on('submit', function() {
    $('#new-registry').modal('hide');
  });
  $('#payment-form').on('submit', function() {
    $('#new-payment').modal('hide');
  });
</script>