<% included = ProductRegistry.where(registry_id: @registry.id).map{ |r| r.product_id }.sort %>

<% progress_array = ProductRegistry.where(registry_id: @registry.id).map { |pr| [pr.product.price_min.to_f, pr.purchased] } %> <!-- THIS VALUE WILL CHANGE FOR PRODUCTION; NEEDS TO BE ACTUALLY CALCULATED -->
<% progress_array.empty? ? progress = 0 : progress = progress_array.map{ |p| p.inject(:*) }.inject(:+)/@registry.goal*100 %>

<!-- Invite more users if the current user is the owner -->
<% if user_signed_in? %>
  <% if current_user.owned_registries.map{ |r| r.id }.include?(@registry.id) %>
    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#invite">Invite more administrators</button>
  <% end %>
<% end %>

<% if current_user && current_user.shared_registries.map{ |r| r.id }.exclude?(@registry.id) && current_user.owned_registries.map{ |r| r.id }.exclude?(@registry.id) %>
  <div>
    <%= button_to add_remove_as_guest_path(:id => @registry.id, :origin_path => "show_registry"), class: "btn btn-default btn-lg", id: "add-remove-#{@registry.id}", method: :post, remote: true do %>
      <% if current_user.guest_registries.map{ |r| r.id }.exclude?(@registry.id) %>
        <i>Become a guest of this registry</i>
      <% else %>
        <i>Leave this registry as a guest</i>
      <% end %>
    <% end %> 
  </div>
<% end %>

<h1 class='regisli-font reg-title' style='text-align:center'><%= @registry.name %></h1>

<p>Honeymoon Fund Progress</p>
<div id="progressbar">
  <div style="text-align:center"><%= progress.to_i %>%</div>
</div>
<br>

<div id="tiny-url" class="pull-right">
  <p>Share this registry with your friends!</p><input style="min-width:250px" name="Tiny-URL" disabled="true" value=<%= @tiny_url %> />
</div>

<%= render 'registries/product_listings_ii' %>

<!-- Invite Users Modal -->
<div id="invite" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Invite administrators</h4>
      </div>
      <div class="modal-body">
        <%= render 'devise/invitations/new' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Add to Cart Modal -->
<% if user_signed_in? %>
  <% @products.each do |p| %>
    <% pr = ProductRegistry.find_by(registry_id: @registry.id, product_id: p.id) %>
    <div id=<%= "add-to-cart-#{p.id}-modal" %> class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Product to Cart</h4>
          </div>

          <!-- Tab panes/Modal Body -->
          <div class="modal-body">

            <%= simple_form_for :cart_offer, url: add_to_cart_path, html: { method: :post }, :remote => true do |f| %>
              <div class="row">
                <div class="col-md-4">
                  <img src="<%= p.image_url %>" alt="<%= p.name %>" style='max-height:100px;'>
                </div>
                <div class="col-md-8">
                  <% offers_array = p.offers.map { |o| ["#{number_to_currency(o.price_merchant)} - #{Merchant.find_by(popshops_index: o.popshops_merchant).name}", o.id] } %>
                  <h4><%= p.name %></h4>
                </div>
              </div>
              <br>
              <% unless pr.nil? %><p><i><%= [pr.quantity - pr.purchased, 0].max %> more needed out of <%= pr.quantity %></i></p><% end %>
              <!-- Submission form for cart item -->
              <p><u><i><%= f.select :offer_id, options_for_select(offers_array) %></i></u></p>
              <% cart = Cart.find_by(user_id: current_user.id) %>
              <div class="col-md-1" style="width:25px; border-radius:10px">
                <%= f.input_field :quantity, :style => "width:25px", :value => CartOffer.exists?(product_id: p.id, cart_id: cart.id) ? CartOffer.find_by(product_id: p.id, cart_id: cart.id).quantity : "", :id => "cart-quantity-#{p.id}" %>
              </div>
              <%= f.hidden_field :product_id, :value => p.id %>
              <%= f.hidden_field :registry_id, :value => @registry.id %>
  
              <div class="col-md-2"><%= f.submit "Add to Cart" %></div>
              <br><br>
            <% end %>  

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<!-- Checkout confirmation modal (not logged in) -->
<div id="nonuser-checkout-confirmation" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Your Purchase</h4>
      </div>
      <div class="modal-body" style="padding-top:0px">
        <div role="tabpanel" class="tab-pane active" id="nonuser-checkout-confirmation-modal">
          <% unless @product.nil? %>
            <%= render 'registries/nonuser_checkout_confirmation' %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#product-form').on('submit', function() {
    $('#add-to-cart').modal('hide');
  });
</script>

<script>
  $('#invite-user').on('submit', function() {
    $('#invite').modal('hide');
  });
</script>

<script type="text/javascript">
  $('.card-deck').masonry({
    // options...
    itemSelector: '.card',
    fitwidth: true,
    percentPosition: true
  });
</script>

<script>
  $('#progressbar div').css('width', <%= progress.to_s %>+'%');
</script>

<script>
  function resetCards(){
    var array = []
    $('.product-cards').each(function(i){ array[i] = $(this).css('top'); });
    var u_array = $.unique(array);
    var pos1 = parseInt(u_array[0]);
    var pos2 = parseInt(u_array[1]);
    var cardHeight = parseInt($('.product-cards').first().css('height'));
    var gutter = 30;
    if(pos2 - pos1 < cardHeight){
      for(i in u_array){ 
        $('.product-cards[style*="top: '+u_array[i]+'"]').css('top', i*(cardHeight+gutter)); 
      }
    }
  }
  
  setTimeout(resetCards, 500);
</script>