<div class="sticky">
  <a href="#" class="pull-left"><img src="/assets/ShoppingCart.png", height="60"></a>
</div>

<% included = ProductRegistry.where(registry_id: @registry.id).map{ |r| r.product_id }.sort %>

<% progress_array = ProductRegistry.where(registry_id: @registry.id).map { |pr| [pr.product.fund.to_f, pr.purchased] } %>
<% progress_array.empty? ? progress = 0 : progress = progress_array.map{ |p| p.inject(:*) }.inject(:+)/@registry.goal*100 %>

<!-- Invite more users if the current user is the owner -->
<% if user_signed_in? %>
  <% if current_user.owned_registries.map{ |r| r.id }.index(@registry.id) != nil %>
    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#invite">Invite more administrators</button>
  <% end %>
<% end %>

<h1 class='regisli-font reg-title' style='text-align:center'><%= @registry.name %></h1>

<p>Honeymoon Fund Progress</p>
<div id="progressbar">
  <div style="text-align:center"><%= progress.to_i %>%</div>
</div>
<br>

<!-- Search form for products -->
<h3>Search registry</h3>
<%= search_form_for @q, :url => { :action => 'search', :controller => 'registries' } do |f| %>
  <%= f.text_field :name_cont, :placeholder => 'Product name' %>
  <%= f.text_field :description_cont, :placeholder => 'Product description' %>
  <%= f.text_field :price_gteq, :placeholder => 'Minimum price' %>
  <%= f.text_field :price_lteq, :placeholder => 'Maximum price' %>
  <%= f.text_field :merchant_cont, :placeholder => 'Product provider' %>
  <%= f.submit :class => "btn btn-default btn-sm" %>
<% end %>

<!-- Sort links -->
<i><b>Sort products by:</b></i>
<%= sort_link(@q, :name, 'Name', default_order: :asc) %> | <%= sort_link(@q, :price, 'Price', default_order: :asc) %> | <%= sort_link(@q, :merchant, 'Provider', default_order: :asc) %>

<!-- Pagination -->
<%= will_paginate @products %>

<!-- Product listings -->
  <div class="free-wall">
    <div class="card-deck">
      <% @products.each do |p| %>
        <% pr = ProductRegistry.find_by(registry_id: @registry.id, product_id: p.id) %>
        <% pr.nil? ? pr_quant = 0 : pr_quant = pr.quantity %>
        <% pr.nil? ? pr_purch = 0 : pr_purch = pr.purchased %>
        <div class="card product-cards box-shadow--4dp">
          <img class="card-img-top" src=<%= "#{p.image_link}" %> alt="Oculus Rift" style="height:200px;">
          <div class="card-block card-text">
            <h3 class="card-title" style="text-align:center"><%= p.name %></h3>
            <p class="card-text"><%= p.description %></p>
            <p style="color:green"><b><%= number_to_currency(p.price) %></b></p>
            <p style="color:green"><i>Contribution to honeymoon fund: <b><%= number_to_currency(p.fund) %></b></i></p>
            <% if pr.nil? %><p style="height:18px;"></p><% else %><div id=<%= "remaining-#{p.id}" %>><p style="height:18px"><i><%= [pr_quant - pr_purch, 0].max %> more needed out of <%= pr_quant %></i></p></div><% end %>
            <% if user_signed_in? && @registry.administrators.include?(current_user) %>
              <%= simple_form_for "product_registry", url: add_remove_product_path, html: { method: :post }, :remote => true do |f| %>
                <div class="col-md-1" style="width:25px; border-radius:10px"><%= f.input_field :quantity, :style => "width:25px", :value => ProductRegistry.exists?(product_id: p.id, registry_id: @registry.id) ? ProductRegistry.find_by(product_id: p.id, registry_id: @registry.id).quantity : "", :id => "quantity-#{p.id}" %></div>
                <%= f.hidden_field :product_id, :value => p.id %>
                <%= f.hidden_field :registry_id, :value => @registry.id %>

                <div class="col-md-2"><%= f.submit included.index(p.id).nil? ? "Add to Registry" : "Remove from Registry", :style => "width:175px", :class => included.index(p.id).nil? ? "btn-add-product" : "btn-remove-product", id: "add-remove-button-#{p.id}" %></div>
            <br><br>
              <% end %>
            <% end %>
            <% if user_signed_in? %>
              <% if pr_quant - pr_purch > 0 %>
                <img type="button" class="btn btn-lg" data-toggle="modal" data-target=<%= "#add-to-cart-#{p.id}-modal" %> src="/assets/ShoppingCartAdd.png" height="60" style="padding: 0px 0px 0px 0px;" id=<%= "add-cart-#{p.id}" %>> or <i><%= link_to "Skip the cart", nonuser_checkout_path(:product_id => p.id, :registry_id => @registry.id), :id => "checkout-#{p.id}", method: :post, remote: true %></i>
                <script>
                  $('<%= "#checkout-#{p.id}" %>').click(function(){
                    window.open('<%= p.affiliate_link %>');
                    });
                </script>
              <% else %>
                 <img type="button" class="btn btn-lg" disabled='disabled' data-toggle="modal" data-target=<%= "#add-to-cart-#{p.id}" %> src="/assets/ShoppingCartAdd.png" height="60" style="padding: 0px 0px 0px 0px;opacity:0" id=<%= "add-cart-#{p.id}" %>>
              <% end %>
            <% else %>
              <% if pr_quant - pr_purch > 0 %>
                <i><%= link_to "Checkout without login", nonuser_checkout_path(:product_id => p.id, :registry_id => @registry.id), :id => "checkout-#{p.id}", method: :post, remote: true %></i>
                <script>
                  $('<%= "#checkout-#{p.id}" %>').click(function(){
                    window.open('<%= p.affiliate_link %>');
                  });
                </script>
              <% else %>
                <a href="#" disabled='disabled' style="opacity:0", id=<%= "checkout-#{p.id}" %>><%= nonuser_checkout_path(:product_id => p.id, :registry_id => @registry.id) %></a>
              <% end %>
            <% end %>
            <br><br>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<!-- Invite Users Modal -->
<div id="invite" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Invite administrators</h4>
      </div>
      <div class="modal-body">
        <%= render 'devise/invitations/new' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Add to Cart Modal -->
<% if user_signed_in? %>
  <% @products.each do |p| %>
    <% pr = ProductRegistry.find_by(registry_id: @registry.id, product_id: p.id) %>
    <div id=<%= "add-to-cart-#{p.id}-modal" %> class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Product to Cart</h4>
          </div>

          <!-- Tab panes/Modal Body -->
          <div class="modal-body">

            <div class="row">
              <div class="col-md-4">
                <img src=<%= "#{p.image_link}" %> alt="Oculus Rift" style='max-height:100px;'>
              </div>
              <div class="col-md-8">
                <h3><u><i><%= p.merchant %></i></u></h3>
                <h4><%= p.name %></h4>
              </div>
            </div>
            <br>
            <% unless pr.nil? %><p><i><%= [pr.quantity - pr.purchased, 0].max %> more needed out of <%= pr.quantity %></i></p><% end %>
            <!-- Submission form for cart item -->
            <% cart = Cart.find_by(user_id: current_user.id) %>
            <%= simple_form_for :cart_product, url: add_to_cart_path, html: { method: :post }, :remote => true do |f| %>
              <div class="col-md-1" style="width:25px; border-radius:10px"><%= f.input_field :quantity, :style => "width:25px", :value => CartProduct.exists?(product_id: p.id, cart_id: cart.id) ? CartProduct.find_by(product_id: p.id, cart_id: cart.id).quantity : "", :id => "cart-quantity-#{p.id}" %></div>
              <%= f.hidden_field :product_id, :value => p.id %>
              <%= f.hidden_field :registry_id, :value => @registry.id %>

              <div class="col-md-2"><%= f.submit "Add to Cart" %></div>
              <br><br>
            <% end %>  

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<!-- Checkout confirmation modal (not logged in) -->
<div id="nonuser-checkout-confirmation" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Your Purchase</h4>
      </div>
      <div class="modal-body">
        <div role="tabpanel" class="tab-pane active" id="nonuser-checkout-confirmation-modal">
          <% unless @product.nil? %>
            <%= render 'registries/nonuser_checkout_confirmation' %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#product-form').on('submit', function() {
    $('#add-to-cart').modal('hide');
  });
</script>

<script>
  $('#invite-user').on('submit', function() {
    $('#invite').modal('hide');
  });
</script>

<script type="text/javascript">

  $('.card-deck').masonry({
    // options...
    itemSelector: '.card',
    fitwidth: true,
    percentPosition: true
  });
</script>

<script>
  $('#progressbar div').css('width', <%= progress.to_s %>+'%');
</script>

<script>
  function resetCards(){
    var array = []
    $('.product-cards').each(function(i){ array[i] = $(this).css('top'); });
    var u_array = $.unique(array);
    var pos1 = parseInt(u_array[0]);
    var pos2 = parseInt(u_array[1]);
    var cardHeight = parseInt($('.product-cards').first().css('height'));
    var gutter = 30;
    if(pos2 - pos1 < cardHeight){
      for(i in u_array){ 
        $('.product-cards[style*="top: '+u_array[i]+'"]').css('top', i*(cardHeight+gutter)); 
      }
    }
    $('#wrap').css({'min-height' : '100%','height' : 'auto','margin' : '0 auto -60px','padding' : '0px 20px 60px 20px'});
  }
  
  setTimeout(resetCards, 100);  
</script>