<% @registries = current_user.cart.cart_offers.map{ |co| co.registry_id }.uniq %>

<% if @registries.empty? %>
  <h4>Your cart is empty</h4>
<% else %>

  <%= simple_form_for :checkout, url: checkout_path, :html => { method: :post }, remote: true do |f| %>
    <div id="accordion" class="panel-group">
      <% @registries.each do |r| %>
        <% registry = Registry.find(r) %>
        <% merchants = registry.products.map{ |p| p.offers.map { |o| Merchant.find_by(popshops_index: o.popshops_merchant).name } }.flatten.uniq %>
        <div class="panel panel-default">    
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" class="registry-heading" href=<%= "##{r}" %>><%= registry.name %></a>
            </h4>

          </div>
          <div id=<%= "#{r}" %> class="panel-collapse collapse">
            <div class="panel-body" id=<%= "registry-#{r}-products" %>>
              <% merchants.each do |m| %>
                <% @products = registry.cart_offers.includes(:cart, :offer).where(:carts => { :user_id => current_user.id }, :offers => { :popshops_merchant => Merchant.find_by(name: m).popshops_index }) %>
                <% unless @products.empty? %>
                  <div class="cart-merchant"><b><%= m %></b></div>
                  <% @products.each do |co| %>
                    <% p = Product.find(co.product_id) %>
                    <% pr = ProductRegistry.find_by(product_id: p.id, registry_id: r) %>
                    <div id=<%= "registry-item-#{co.id}" %>>
                      <%= f.check_box "#{co.id}".to_sym, {class: 'registry-checkbox'}, 'true', 'false' %>
                      <span class="cart-listing"><%= Product.find(co.product_id).name %></span> -- <b>Cart: </b><span style="color: green;"><%= co.quantity %></span> <b>Still needed: </b><span style="color: red;"><%= pr.quantity - pr.purchased %></span>
                      <div class="pull-right"><%= link_to "X", destroy_cart_offer_path(co), method: :post, remote: true %></div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= f.submit "Checkout Selected Registries", id: "checkout-submit" %>
  <% end %>
<% end %>

<script>
  $('.registry-heading').click(function(){
    $('.registry-checkbox').prop('checked', false);
  });
</script>