<% @registries = current_user.cart.cart_products.map{ |cp| cp.registry_id }.uniq %>

<% if @registries.empty? %>
  <h4>Your cart is empty</h4>
<% else %>

  <%= simple_form_for :checkout, url: checkout_path, :html => { method: :post }, remote: true do |f| %>
    <div id="accordion" class="panel-group">
      <% @registries.each do |r| %>
        <% registry = Registry.find(r) %>
        <% merchants = registry.products.map{ |p| p.merchant }.uniq %>
        <div class="panel panel-default">    
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href=<%= "##{r}" %>><%= registry.name %></a>
            </h4>

          </div>
          <div id=<%= "#{r}" %> class="panel-collapse collapse">
            <div class="panel-body" id=<%= "registry-#{r}-products" %>>
              <% merchants.each do |m| %>
                <div class="cart-merchant"><b><%= m %></b></div>
                <% @products = registry.cart_products.includes(:cart, :product).where( :carts => { :user_id => current_user.id }, :products => { :merchant => m }).each do |cp| %>
                  <% p = Product.find(cp.product_id) %>
                  <% pr = ProductRegistry.find_by(product_id: p.id, registry_id: r) %>
                  <div id=<%= "registry-item-#{cp.id}" %>>
                    <%= f.check_box "#{cp.id}".to_sym, {class: 'registry-checkbox'}, 'true', 'false' %>
                    <%= Product.find(cp.product_id).name %> -- <b>Cart: </b><span style="color: green;"><%= cp.quantity %></span> <b>Still needed: </b><span style="color: red;"><%= pr.quantity - pr.purchased %></span>
                    <div class="pull-right"><%= link_to "X", destroy_cart_product_path(cp), method: :post, remote: true %></div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= f.submit "Checkout Selected Registries", id: "checkout-submit" %>
  <% end %>
<% end %>