<div class="row">
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Bedding', products_url(:keywords => URI.encode('Bedding'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Bedding Collections', products_url(:keywords => URI.encode('Bedding Collections'.downcase), :page => 1) %></li>
    <li><%= link_to 'Sheets & Pillowcases', products_url(:keywords => URI.encode('Sheets Pillowcases'.downcase), :page => 1) %></li>
    <li><%= link_to 'Blankets & Quilts', products_url(:keywords => URI.encode('Blankets Quilts'.downcase), :page => 1) %></li>
    <li><%= link_to 'Throws', products_url(:keywords => URI.encode('Throws'.downcase), :page => 1) %></li>
    <li><%= link_to 'Duvets & Shams', products_url(:keywords => URI.encode('Duvets Shams'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Bedding Basics', products_url(:keywords => URI.encode('Bedding Basics'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Pillows', products_url(:keywords => URI.encode('Pillows'.downcase), :page => 1) %></li>
    <li><%= link_to 'Comforters & Mattresses', products_url(:keywords => URI.encode('Comforters Mattresses'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Bath', products_url(:keywords => URI.encode('Bath'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Bath Collections', products_url(:keywords => URI.encode('Bath Collections'.downcase), :page => 1) %></li>
    <li><%= link_to 'Towels', products_url(:keywords => URI.encode('Towels'.downcase), :page => 1) %></li>
    <li><%= link_to 'Shower Curtains & Bath Mats', products_url(:keywords => URI.encode('Shower Curtains & Bath Mats'.downcase), :page => 1) %></li>
    <li><%= link_to 'Bathroom Décor', products_url(:keywords => URI.encode('Bathroom Decor'.downcase), :page => 1) %></li>
    <li><%= link_to 'Scales', products_url(:keywords => URI.encode('Scales'.downcase), :page => 1) %></li>
  </div>
</div>