<div class="row">
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Dinnerware', products_url(:keywords => URI.encode('Dinnerware'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Dinnerware Sets', products_url(:keywords => URI.encode('Dinnerware Sets'.downcase), :page => 1) %></li>
    <li><%= link_to 'Dinner Plates', products_url(:keywords => URI.encode('Dinner Plates'.downcase), :page => 1) %></li>
    <li><%= link_to 'Appetizer & Dessert Plates', products_url(:keywords => URI.encode('Appetizer & Dessert Plates'.downcase), :page => 1) %></li>
    <li><%= link_to 'Bowls', products_url(:keywords => URI.encode('Bowls'.downcase), :page => 1) %></li>
    <li><%= link_to 'Charger Plates', products_url(:keywords => URI.encode('Charger Plates'.downcase), :page => 1) %></li>
    <li><%= link_to 'Tea & Coffee Cups', products_url(:keywords => URI.encode('Tea Coffee Cups'.downcase), :page => 1) %></li>
    <li><%= link_to 'Dinnerware Collections', products_url(:keywords => URI.encode('Dinnerware Collections'.downcase), :page => 1) %></li>
    <li><%= link_to 'Fine China Collections', products_url(:keywords => URI.encode('Fine China Collections'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Flatware', products_url(:keywords => URI.encode('Flatware'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Flatware Sets', products_url(:keywords => URI.encode('Flatware Sets'.downcase), :page => 1) %></li>
    <li><%= link_to 'Serving Sets', products_url(:keywords => URI.encode('Serving Sets'.downcase), :page => 1) %></li>
    <li><%= link_to 'Specialty Flatware', products_url(:keywords => URI.encode('Specialty Flatware'.downcase), :page => 1) %></li>
    <li><%= link_to 'Fine Flatware', products_url(:keywords => URI.encode('Fine Flatware'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Bar & Drinkware', products_url(:keywords => URI.encode('Bar Drinkware'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Water & Juice Glasses', products_url(:keywords => URI.encode('Water Juice Glasses'.downcase), :page => 1) %></li>
    <li><%= link_to 'Wine Glasses', products_url(:keywords => URI.encode('Wine Glasses'.downcase), :page => 1) %></li>
    <li><%= link_to 'Champagne Glasses', products_url(:keywords => URI.encode('Champagne Glasses'.downcase), :page => 1) %></li>
    <li><%= link_to 'Cocktail Glasses', products_url(:keywords => URI.encode('Cocktail Glasses'.downcase), :page => 1) %></li>
    <li><%= link_to 'Beer Glasses', products_url(:keywords => URI.encode('Beer Glasses'.downcase), :page => 1) %></li>
    <li><%= link_to 'Pitchers & Carafes', products_url(:keywords => URI.encode('Pitchers Carafes'.downcase), :page => 1) %></li>
    <li><%= link_to 'Decanters', products_url(:keywords => URI.encode('Decanters'.downcase), :page => 1) %></li>
    <li><%= link_to 'Bar & Wine Accessories', products_url(:keywords => URI.encode('Bar Wine Accessories'.downcase), :page => 1) %></li>
    <li><%= link_to 'Mugs', products_url(:keywords => URI.encode('Mugs'.downcase), :page => 1) %></li>
    <li><%= link_to 'Drinkware Sets', products_url(:keywords => URI.encode('Drinkware Sets'.downcase), :page => 1) %></li>
    <li><%= link_to 'Ice Buckets & Chillers', products_url(:keywords => URI.encode('Ice Buckets Chillers'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Serveware & Entertaining', products_url(:keywords => URI.encode('Serveware Entertaining'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Serving Bowls', products_url(:keywords => URI.encode('Serving Bowls'.downcase), :page => 1) %></li>
    <li><%= link_to 'Serving Platters & Trays', products_url(:keywords => URI.encode('Serving Platters Trays'.downcase), :page => 1) %></li>
    <li><%= link_to 'Serveware Sets', products_url(:keywords => URI.encode('Serveware Sets'.downcase), :page => 1) %></li>
    <li><%= link_to 'Cake & Dessert Stands', products_url(:keywords => URI.encode('Cake Dessert Stands'.downcase), :page => 1) %></li>
    <li><%= link_to 'Cheese Boards & Accessores', products_url(:keywords => URI.encode('Cheese Boards Accessores'.downcase), :page => 1) %></li>
    <li><%= link_to 'Serving Utensils', products_url(:keywords => URI.encode('Serving Utensils'.downcase), :page => 1) %></li>
    <li><%= link_to 'Salt & Pepper Shakers', products_url(:keywords => URI.encode('Salt Pepper Shakers'.downcase), :page => 1) %></li>
    <li><%= link_to 'Pitchers & Carafes', products_url(:keywords => URI.encode('Pitchers Carafes'.downcase), :page => 1) %></li>
    <li><%= link_to 'Specialty Serveware', products_url(:keywords => URI.encode('Specialty Serveware'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Coffee & Tea', products_url(:keywords => URI.encode('Coffee Tea'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Coffee & Tea Pots', products_url(:keywords => URI.encode('Coffee Tea Pots'.downcase), :page => 1) %></li>
    <li><%= link_to 'Tea & Coffee Cups', products_url(:keywords => URI.encode('Tea Coffee Cups'.downcase), :page => 1) %></li>
    <li><%= link_to 'Mugs', products_url(:keywords => URI.encode('Mugs'.downcase), :page => 1) %></li>
    <li><%= link_to 'Creamers & Sugar Bowls', products_url(:keywords => URI.encode('Creamers Sugar Bowls'.downcase), :page => 1) %></li>
    <li><%= link_to 'Coffee & Tea Accessories', products_url(:keywords => URI.encode('Coffee Tea Accessories'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Table Linens', products_url(:keywords => URI.encode('Table Linens'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Napkins & Rings', products_url(:keywords => URI.encode('Napkins Rings'.downcase), :page => 1) %></li>
    <li><%= link_to 'Placemats', products_url(:keywords => URI.encode('Placemats'.downcase), :page => 1) %></li>
    <li><%= link_to 'Tablecloths & Runners', products_url(:keywords => URI.encode('Tablecloths Runners'.downcase), :page => 1) %></li>
    <li><%= link_to 'Tea & Kitchen Towels', products_url(:keywords => URI.encode('Tea Kitchen Towels'.downcase), :page => 1) %></li>
  </div>
</div>