<div class="row">
  <div class="col-sm-2 nav">
    <li class="s-link"><b><u><%= link_to 'Round Trip Airfare', products_url(:keywords => URI.encode('Round Trip Airfare'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Hotel / Resort', products_url(:keywords => URI.encode('Hotel Resort'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Breakfast', products_url(:keywords => URI.encode('Breakfast'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Romantic Dinners', products_url(:keywords => URI.encode('Romantic Dinners'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Champagne In Our Room', products_url(:keywords => URI.encode('Champagne In Our Room'.downcase), :page => 1) %></u></b></li>
  </div>
  <div class="col-sm-2 nav">
    <li class="s-link"><b><u><%= link_to 'Wedding Catering', products_url(:keywords => URI.encode('Wedding Catering'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Renovation', products_url(:keywords => URI.encode('Renovation'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'House Down Payment', products_url(:keywords => URI.encode('House Down Payment'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Car', products_url(:keywords => URI.encode('Car'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Wedding Flowers', products_url(:keywords => URI.encode('Wedding Flowers'.downcase), :page => 1) %></u></b></li>
  </div>
  <div class="col-sm-2 nav">
    <li class="s-link"><b><u><%= link_to 'Wedding', products_url(:keywords => URI.encode('Wedding'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Wedding Music', products_url(:keywords => URI.encode('Wedding Music'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Wedding Cake', products_url(:keywords => URI.encode('Wedding Cake'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Dreams', products_url(:keywords => URI.encode('Dreams'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Charity', products_url(:keywords => URI.encode('Charity'.downcase), :page => 1) %></u></b></li>
  </div>
  <div class="col-sm-2 nav">
    <li class="s-link"><b><u><%= link_to 'Date Night', products_url(:keywords => URI.encode('Date Night'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Couples Massage', products_url(:keywords => URI.encode('Couples Massage'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Honeymoon Fund', products_url(:keywords => URI.encode('Honeymoon Fund'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Breakfast in Bed', products_url(:keywords => URI.encode('Breakfast in Bed'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'Wedding Photography', products_url(:keywords => URI.encode('Wedding Photography'.downcase), :page => 1) %></u></b></li>
  </div>
</div>