<div class="row">
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Lighting', products_url(:keywords => URI.encode('Lighting'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Floor Lamps', products_url(:keywords => URI.encode('Floor Lamps'.downcase), :page => 1) %></li>
    <li><%= link_to 'Table Lamps', products_url(:keywords => URI.encode('Table Lamps'.downcase), :page => 1) %></li>
    <li><%= link_to 'Ceiling & Wall Lighting', products_url(:keywords => URI.encode('Ceiling & Wall Lighting'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Décor', products_url(:keywords => URI.encode('Décor'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Vases, Trays, & Bowls', products_url(:keywords => URI.encode('Vases, Trays, & Bowls'.downcase), :page => 1) %></li>
    <li><%= link_to 'Picture Frames', products_url(:keywords => URI.encode('Picture Frames'.downcase), :page => 1) %></li>
    <li><%= link_to 'Pillows & Throws', products_url(:keywords => URI.encode('Pillows & Throws'.downcase), :page => 1) %></li>
    <li><%= link_to 'Wall Art & Mirrors', products_url(:keywords => URI.encode('Wall Art & Mirrors'.downcase), :page => 1) %></li>
    <li><%= link_to 'Decorative Objects', products_url(:keywords => URI.encode('Decorative Objects'.downcase), :page => 1) %></li>
    <li><%= link_to 'Candles & Candleholders', products_url(:keywords => URI.encode('Candles & Candleholders'.downcase), :page => 1) %></li>
    <li><%= link_to 'Rugs & Mats', products_url(:keywords => URI.encode('Rugs & Mats'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Furniture', products_url(:keywords => URI.encode('Furniture'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Bedroom Furniture', products_url(:keywords => URI.encode('Bedroom Furniture'.downcase), :page => 1) %></li>
    <li><%= link_to 'Seating & Ottomans', products_url(:keywords => URI.encode('Seating & Ottomans'.downcase), :page => 1) %></li>
    <li><%= link_to 'Tables', products_url(:keywords => URI.encode('Tables'.downcase), :page => 1) %></li>
    <li><%= link_to 'Outdoor Furniture', products_url(:keywords => URI.encode('Outdoor Furniture'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Cleaning & Organization', products_url(:keywords => URI.encode('Cleaning & Organization'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Organization & Storage', products_url(:keywords => URI.encode('Organization & Storage'.downcase), :page => 1) %></li>
    <li><%= link_to 'Trash & Recycling', products_url(:keywords => URI.encode('Trash & Recycling'.downcase), :page => 1) %></li>
    <li><%= link_to 'Garmet Care', products_url(:keywords => URI.encode('Garmet Care'.downcase), :page => 1) %></li>
    <li><%= link_to 'Vacuums', products_url(:keywords => URI.encode('Vacuums'.downcase), :page => 1) %></li>
    <li><%= link_to 'Closet', products_url(:keywords => URI.encode('Closet'.downcase), :page => 1) %></li>
    <li><%= link_to 'Cleaning Tools', products_url(:keywords => URI.encode('Cleaning Tools'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Electronics & Gadgets', products_url(:keywords => URI.encode('Electronics & Gadgets'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'TVs and Projectors', products_url(:keywords => URI.encode('TVs and Projectors'.downcase), :page => 1) %></li>
    <li><%= link_to 'Cameras', products_url(:keywords => URI.encode('Cameras'.downcase), :page => 1) %></li>
    <li><%= link_to 'Audio Equipment', products_url(:keywords => URI.encode('Audio Equipment'.downcase), :page => 1) %></li>
  </div>
</div>