<div class="row">
  <div class="col-sm-2 nav">
    <li class="s-link"><b><u><%= link_to "Small Appliances", products_url(:keywords => URI.encode('small appliances'), :page => 1) %></u></b></li>
    <li><%= link_to "Blenders", products_url(:keywords => URI.encode('blenders'), :page => 1) %></li>
    <li><%= link_to "Food Processors", products_url(:keywords => URI.encode('food processors'), :page => 1) %></li>
    <li><%= link_to "Juicers", products_url(:keywords => URI.encode('juicers'), :page => 1) %></li>
    <li><%= link_to "Mixers & Attachments", products_url(:keywords => URI.encode('mixers attachments'), :page => 1) %></li>
    <li><%= link_to "Coffee, Tea, & Espresso Machines", products_url(:keywords => URI.encode('coffee tea espresso machines'), :page => 1) %></li>
    <li><%= link_to "Toasters & Ovens", products_url(:keywords => URI.encode('toasters ovens'), :page => 1) %></li>
    <li><%= link_to "Specialty Appliances", products_url(:keywords => URI.encode('specialty appliances'), :page => 1) %></li>
    <li><%= link_to "Slow Cookers", products_url(:keywords => URI.encode('slow cookers'), :page => 1) %></li>
    <li><%= link_to "Griddles & Skillets", products_url(:keywords => URI.encode('griddles skillets'), :page => 1) %></li>
  </div>
  <div class="col-sm-2">
    <li class="s-link"><b><u><%= link_to "Bakeware", products_url(:keywords => URI.encode('bakeware'), :page => 1) %></u></b></li>
    <li><%= link_to "Bakeware Sets", products_url(:keywords => URI.encode('bakeware sets'), :page => 1) %></li>
    <li><%= link_to "Baking Sheets", products_url(:keywords => URI.encode('baking sheets'), :page => 1) %></li>
    <li><%= link_to "Baking Pans", products_url(:keywords => URI.encode('baking pans'), :page => 1) %></li>
    <li><%= link_to "Baking Dishes", products_url(:keywords => URI.encode('baking dishes'), :page => 1) %></li>
    <li><%= link_to "Pizza Stones & Accessories", products_url(:keywords => URI.encode('pizza stones accessories'), :page => 1) %></li>
    <li><%= link_to "Baking & Decorating Tools", products_url(:keywords => URI.encode('baking decorating tools'), :page => 1) %></li>
  </div>
  <div class="col-sm-2">
    <li class="s-link"><b><u><%= link_to "Coffee & Tea", products_url(:keywords => URI.encode('coffee tea'), :page => 1) %></u></b></li>
    <li><%= link_to "Coffee Makers", products_url(:keywords => URI.encode('coffee makers'), :page => 1) %></li>
    <li><%= link_to "Espresso Makers", products_url(:keywords => URI.encode('espresso makers'), :page => 1) %></li>
    <li><%= link_to "Teapots & Kettles", products_url(:keywords => URI.encode('teapots kettles'), :page => 1) %></li>
    <li><%= link_to "Coffee & Tea Accessories", products_url(:keywords => URI.encode('coffee tea accessories'), :page => 1) %></li>
  </div>
  <div class="col-sm-2">
    <li class="s-link"><b><u><%= link_to "Cookware", products_url(:keywords => URI.encode('cookware'), :page => 1) %></u></b></li>
    <li><%= link_to "Cookware Sets", products_url(:keywords => URI.encode('cookware sets'), :page => 1) %></li>
    <li><%= link_to "Saute Pans", products_url(:keywords => URI.encode('saute pans'), :page => 1) %></li>
    <li><%= link_to "Frying Pans", products_url(:keywords => URI.encode('frying pans'), :page => 1) %></li>
    <li><%= link_to "Stock Pots & Multicookers", products_url(:keywords => URI.encode('stock pots multicookers'), :page => 1) %></li>
    <li><%= link_to "Saucepans & Sauciers", products_url(:keywords => URI.encode('saucepans sauciers'), :page => 1) %></li>
    <li><%= link_to "Griddles & Grill Pans", products_url(:keywords => URI.encode('griddle grill pans'), :page => 1) %></li>
    <li><%= link_to "Roasting Pans", products_url(:keywords => URI.encode('roasting pans'), :page => 1) %></li>
    <li><%= link_to "Dutch Ovens", products_url(:keywords => URI.encode('dutch ovens'), :page => 1) %></li>
    <li><%= link_to "Grilling & Specialty Cookware", products_url(:keywords => URI.encode('grilling specialty cookware'), :page => 1) %></li>
    <li><%= link_to "Woks", products_url(:keywords => URI.encode('woks'), :page => 1) %></li>
  </div>
  <div class="col-sm-2">
    <li class="s-link"><b><u><%= link_to "Knives & Boards", products_url(:keywords => URI.encode('knives boards'), :page => 1) %></u></b></li>
    <li><%= link_to "Knife Blocks & Starter Sets", products_url(:keywords => URI.encode('knife blocks starter sets'), :page => 1) %></li>
    <li><%= link_to "Knives & Shears", products_url(:keywords => URI.encode('knives shears'), :page => 1) %></li>
    <li><%= link_to "Storage & Sharpening Tools", products_url(:keywords => URI.encode('storage sharpening tools'), :page => 1) %></li>
    <li><%= link_to "Cutting Boards", products_url(:keywords => URI.encode('cutting boards'), :page => 1) %></li>
  </div>
  <div class="col-sm-2">
    <li class="s-link"><b><u><%= link_to "Cleaning & Organization", products_url(:keywords => URI.encode('cleaning organization'), :page => 1) %></u></b></li>
    <li><%= link_to "Drawer, Counter, & Cabinet Organizers", products_url(:keywords => URI.encode('drawer counter cabinet organizers'), :page => 1) %></li>
    <li><%= link_to "Kitchen Carts & Cookware Racks, Dish Racks & Sinkware", products_url(:keywords => URI.encode('kitchen carts cookware racks dish racks sinkware'), :page => 1) %></li>
    <li><%= link_to "Kitchen Textiles", products_url(:keywords => URI.encode('kitchen textiles'), :page => 1) %></li>
    <li><%= link_to "Trash & Rycycling", products_url(:keywords => URI.encode('trash recycling'), :page => 1) %></li>
    <li><%= link_to "Cleaning Tools", products_url(:keywords => URI.encode('cleaning tools'), :page => 1) %></li>
    <li><%= link_to "Vacuums", products_url(:keywords => URI.encode('vacuums'), :page => 1) %></li>
  </div>
  <div class="col-sm-2">
    <li class="s-link"><b><u><%= link_to "Tools & Gadgets", products_url(:keywords => URI.encode('tools gadgets'), :page => 1) %></u></b></li>
    <li><%= link_to "Cooking Utensils & Holders", products_url(:keywords => URI.encode('cooking utensils holders'), :page => 1) %></li>
    <li><%= link_to "Collanders & Strainers", products_url(:keywords => URI.encode('colanders strainers'), :page => 1) %></li>
    <li><%= link_to "Choppers & Slicers", products_url(:keywords => URI.encode('choppers slicers'), :page => 1) %></li>
    <li><%= link_to "Graters & Peelers", products_url(:keywords => URI.encode('graters peelers'), :page => 1) %></li>
    <li><%= link_to "Mills and Dispensers", products_url(:keywords => URI.encode('mills dispensers'), :page => 1) %></li>
    <li><%= link_to "Grilling & Specialty Tools", products_url(:keywords => URI.encode('grilling specialty tools'), :page => 1) %></li>
    <li><%= link_to "Mixing & Measuring Tools", products_url(:keywords => URI.encode('mixing measuring tools'), :page => 1) %></li>
    <li><%= link_to "Food Storage", products_url(:keywords => URI.encode('food storage'), :page => 1) %></li>
  </div>
</div>