<!-- Top navbar -->
<nav class="navbar navbar-default navbar-static-top" style="margin-bottom:0px !important; padding-top:10px; z-index: 1000;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"> <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" style="padding:0; position:absolute; margin-left:48%; margin-right:48%">
        <a href="/">
          <img src="/assets/regisli_logo_transparent.png" height="80" style="margin-top:-15px">
        </a>
      </div>
    </div>
  	<div id="navbar" class="collapse navbar-collapse row">
      <div class="col-md-5 col-sm-5">
        <ul class="nav navbar-nav" style="width:100%">
          <div style="padding:15px;" id="search-div">
            <form accept-charset="UTF-8" action="/products" class="form-search form-inline" id="product_search" method="get">
              <input id="keyword" name="keywords" placeholder="Search Products" type="text" class="search-query" />
              <input id="page" name="page" type="hidden" value="1" />
            </form>
          </div>
        </ul>
      </div>
      <div id="top-navbar-container" class="col-md-5 col-sm-5" style="position:absolute; right:0; min-width:420px">
        <!-- Set CSS based on window size (do not force position on mobile size) -->
        <script>
          function cssReset(){
            if(window.innerWidth > 767){
              $('#top-navbar-container').css({ "position":"absolute", "right":"0", "min-width":"420px" });
            }else{
              $('#top-navbar-container').css({ "position":"relative", "right":"inherit", "min-width":"inherit" });
            }
          };
          $(window).resize(cssReset);
          $(document).ready(cssReset);
        </script>
        <ul class="nav navbar-nav navbar-right" style="padding-right:0px;">
          <li><%= link_to "Contact Us", "#" %></li>
          <li><%= link_to "Help", "#" %></li>
          <li><%= link_to "Blog", "#" %></li>
          <% if user_signed_in? %>         
            <ul class="nav-menu dropdown nav navbar-nav">
              <li class="dropdown" id="dropdown-parent"><a><img style="margin-top:-5px" src="/assets/UserIcon.png" height="30"></a></li>
              <ul class="dropdown-menu nav navbar-nav" id="user-dropdown">
                <!-- Fill dropdown based on window size and change dropdown style (hover vs. click) -->
                <script>
                  function fillDropdown(){
                    if($(window).width() > 767){
                      $('#user-dropdown').html('<% if current_user.admin? %><li style="width:100%"><a href="/pages/all_users">Admin Panel</a></li><% end %><li style="width:100%"><a href="/users/edit">Edit Account</a></li><li style="width:100%"><a data-method="delete" href="/users/sign_out" rel="nofollow">Log Out</a></li>');
                      $('#dropdown-parent').removeAttr('data-toggle');
                    }else{
                      $('#user-dropdown').html('<li class="divider"><% if current_user.admin? %><li style="text-align:center"><a href="/pages/all_users">Admin Panel</a></li><% end %></li><li style="text-align:center"><a href="/users/edit">Edit Account</a></li><li style="text-align:center"><a data-method="delete" href="/users/sign_out" rel="nofollow">Log Out</a></li><li class="divider"></li>');
                      $('#dropdown-parent').attr('data-toggle','dropdown');
                    }
                  };
                  $(window).resize(fillDropdown);
                  $(document).ready(fillDropdown);
                </script>
              </ul>
            </ul>
            <li id="checkout-modal"><a data-toggle="modal" data-target="#checkout"><img style="margin-top:-5px" src="/assets/CartIcon.png" height="30"></a></li>
          <% else %>
            <li><a class="user-link" data-toggle="modal" data-target="#signup">Sign Up</a></li>
            <li><a class="user-link" data-toggle="modal" data-target="#login">Log In</a></li>
          <% end %>
        </ul>
      </div>
  	</div>
  </div>
</nav>

<!-- Sticky navbar -->
<div class="sticky-menu sticky-nav-temp">
  <nav class="navbar navbar-default navbar-secondary yamm">
    <div class="container-fluid" style="padding:0">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#secondary-navbar"> 
        <span class="sr-only"> Toggle navigation </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="secondary-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-center">
          <li class="nav-menu"><%= link_to "REGISTRIES", registries_path %></li>   
          <li class="nav-menu"><%= link_to "STARTER GUIDES", "#" %></li>   
          <li class="dropdown yamm-fw">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">KITCHEN</a>
            <ul class="dropdown-menu">
              <%= render 'layouts/kitchen' %>
            </ul>
          </li>   
          <li class="dropdown yamm-fw">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">DINING</a>
            <ul class="dropdown-menu">
              <%= render 'layouts/dining' %>
            </ul>
          </li>   
          <li class="dropdown yamm-fw">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">BED & BATH</a>
            <ul class="dropdown-menu">
              <%= render 'layouts/bed_and_bath' %>
            </ul>
          </li>   
          <li class="dropdown yamm-fw">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">HOME</a>
            <ul class="dropdown-menu">
              <%= render 'layouts/home' %>
            </ul>
          </li>
          <li class="dropdown yamm-fw">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">OUTDOOR</a>
            <ul class="dropdown-menu">
              <%= render 'layouts/outdoor' %>
            </ul>
          </li> 
          <li class="dropdown yamm-fw">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">TRAVEL</a>
            <ul class="dropdown-menu">
              <%= render 'layouts/travel' %>
            </ul>
          </li>   
          <li class="dropdown yamm-fw">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">WEDDING FAVORS</a>
            <ul class="dropdown-menu">
              <%= render 'layouts/wedding_favors' %>
            </ul>
          </li>  
          <li class="dropdown yamm-fw">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">GIFT CARDS</a>
            <ul class="dropdown-menu">
              <%= render 'layouts/funds' %>
            </ul>
          </li>   
        </ul>
      </div>
    </div>
    <div id="js-notice" style="padding-left:100px; height:18px; position:absolute"></div>
  </nav>
</div>

<!-- Log In Modal -->
<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
        <%= render 'users/registrations/login' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Sign Up Modal -->
<div id="signup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>

      <!-- Tab panes/Modal Body -->
      <div class="modal-body">
        <div role="tabpanel" class="tab-pane active" id="owner">
          <%= render 'users/registrations/registration' %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>

<!-- Cart Modal -->
<% if user_signed_in? %>
  <div id="checkout" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Review Your Cart</h4>
        </div>

        <!-- Tab panes/Modal Body -->
        <div class="modal-body">
          <div role="tabpanel" class="tab-pane active" id="cart-modal">
            <%= render 'carts/checkout' %>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
<% end %>

<!-- Checkout confirmation modal -->
<div id="checkout-confirmation" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Your Purchase(s)</h4>
      </div>
      <div class="modal-body" style="padding-top:0px">
        <div role="tabpanel" class="tab-pane active" id="checkout-confirmation-modal">
          <%= render 'carts/checkout_confirmation' %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  var menu = document.querySelector('.sticky-menu');
  var menuPosition = menu.getBoundingClientRect();
  var placeholder = document.createElement('div');
  placeholder.style.width = menuPosition.width + 'px';
  placeholder.style.height = menuPosition.height + 'px';
  var isAdded = false;

  window.addEventListener('scroll', function() {
    if (window.pageYOffset >= menuPosition.top && !isAdded) {
      menu.classList.add('sticky-nav');
      menu.classList.remove('sticky-nav-temp');
      menu.parentNode.insertBefore(placeholder, menu);
      isAdded = true;
    } else if (window.pageYOffset < menuPosition.top && isAdded) {
      menu.classList.remove('sticky-nav');
      menu.classList.add('sticky-nav-temp');
      menu.parentNode.removeChild(placeholder);
      isAdded = false;
    }
  });
</script>