<nav class="navbar navbar-default" style="margin-bottom:0px !important">
  <div class="container-fluid">
    <a href="/" class="pull-left"><img src="/assets/regisli_logo_transparent.png", height="60"></a>
  	<div id="navbar" class="collapse navbar-collapse">
	  	<ul class="nav navbar-nav">
	  		<li><%= link_to "About", about_path %></li>
        <li><%= link_to "Registries", registries_path %></li>
        <% if user_signed_in? %>
          <li id="checkout-modal"><a data-toggle="modal" data-target="#checkout">Cart</a></li>
        <% end %>
	  	</ul>
      <ul class="nav navbar-nav navbar-center">
        <div style="padding:20px;">
          <form class="form-search form-inline">
            <input type="text" class="search-query" placeholder="Search Products" />
          </form>
        </div>
      </ul>
  		<ul class="nav navbar-nav navbar-right" style="padding-right:25px">
  			<% if user_signed_in? %>
  				<% if current_user.admin? %>
  					<li><%= link_to "Admin Panel", pages_all_users_path %></li>
  				<% end %>
          <li><%= link_to "Edit Account", edit_user_registration_path %>
  				<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
  			<% else %>
          <button type="button" class="btn btn-lg btn-login" data-toggle="modal" data-target="#login">Log In</button>
          <button type="button" class="btn btn-lg btn-signup" data-toggle="modal" data-target="#signup">Sign Up</button>
				<% end %>
  		</ul>
  	</div>
  </div>
</nav>

<div class="sticky-menu sticky-nav-temp">
  <nav class="navbar navbar-default navbar-secondary">
    <div class="container-fluid">
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-center">
          <li><%= link_to "REGISTRIES", "#" %></li>     
          <ul class="dropdown nav navbar-nav">
            <li><a>STARTER GUIDES</a></li>
            <ul class="dropdown-menu nav navbar-nav">
              <div class="row two-col">
                <div class="col-sm-6">
                  <li>First thing</li>
                  <li class="divider"></li>
                  <li>Second thing</li>
                  <li>Third thing</li>
                  <li>Fourth thing</li>
                </div>
                <div class="col-sm-6">
                  <li>Fifth thing</li>
                  <li>Sixth thing</li>
                  <li>Seventh thing</li>
                  <li>Eighth thing</li>
                  <li>Ninth thing</li>
                </div>
              </div>
            </ul>
          </ul>
          <ul class="dropdown nav navbar-nav">
            <li><a>BRANDS</a></li>
            <ul class="dropdown-menu nav navbar-nav">
              <div class="row three-col">
                <div class="col-sm-4">
                  <li><b><u>Technology</u></b></li>
                  <li>Oculus</li>
                  <li>Radeon</li>
                  <li>AMD</li>
                  <li>nVidia</li>
                  <li>Sony</li>
                  <li class="divider"></li>
                  <li><b><u>Sports</u></b></li>
                  <li>Bauer</li>
                  <li>Mission</li>
                  <li>CCM</li>
                </div>
                <div class="col-sm-4">
                  <li><b><u>Astronomy</u></b></li>
                  <li>Atlas</li>
                  <li>Skywatcher</li>
                  <li>Orion</li>
                  <li>Hubble</li>
                  <li>NASA</li>
                  <li class="divider"></li>
                  <li><b><u>Games</u></b></li>
                  <li>Nintendo</li>
                  <li>Sony</li>
                  <li>Microsoft</li>
                  <li>Steam</li>
                </div>
                <div class="col-sm-4">
                  <li><b><u>Phones</u></b></li>
                  <li>Apple</li>
                  <li>HTC</li>
                  <li>Samsung</li>
                  <li>Nokia</li>
                  <li>Sony</li>
                </div>
              </div>
            </ul>
          </ul>
          <ul class="dropdown nav navbar-nav">
            <li><a>GIFTS</a></li>
            <ul class="dropdown-menu nav navbar-nav">
              <li>First thing</li>
              <li>Second thing</li>
            </ul>
          </ul>
          <li><%= link_to "TRAVEL", "#" %></li>
        </ul>
      </div>
    </div>
    <div id="js-notice" style="padding-left:100px; height:18px; position:absolute"></div>
  </nav>
</div>

<!-- Log In Modal -->
<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
        <%= render 'users/registrations/login' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Sign Up Modal -->
<div id="signup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>

      <!-- Tab panes/Modal Body -->
      <div class="modal-body">
        <div role="tabpanel" class="tab-pane active" id="owner">
          <%= render 'users/registrations/registration' %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>

<!-- Cart Modal -->
<% if user_signed_in? %>
  <div id="checkout" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Review Your Cart</h4>
        </div>

        <!-- Tab panes/Modal Body -->
        <div class="modal-body">
          <div role="tabpanel" class="tab-pane active" id="cart-modal">
            <%= render 'carts/checkout' %>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
<% end %>

<!-- Checkout confirmation modal -->
<div id="checkout-confirmation" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Your Purchase(s)</h4>
      </div>
      <div class="modal-body" style="padding-top:0px">
        <div role="tabpanel" class="tab-pane active" id="checkout-confirmation-modal">
          <%= render 'carts/checkout_confirmation' %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  var menu = document.querySelector('.sticky-menu');
  var menuPosition = menu.getBoundingClientRect();
  var placeholder = document.createElement('div');
  placeholder.style.width = menuPosition.width + 'px';
  placeholder.style.height = menuPosition.height + 'px';
  var isAdded = false;

  window.addEventListener('scroll', function() {
    if (window.pageYOffset >= menuPosition.top && !isAdded) {
      menu.classList.add('sticky-nav');
      menu.classList.remove('sticky-nav-temp');
      menu.parentNode.insertBefore(placeholder, menu);
      isAdded = true;
    } else if (window.pageYOffset < menuPosition.top && isAdded) {
      menu.classList.remove('sticky-nav');
      menu.classList.add('sticky-nav-temp');
      menu.parentNode.removeChild(placeholder);
      isAdded = false;
    }
  });
</script>