<div class="row">
  <div class='col-sm-2 nav'>
    <li class="s-link"><b><u><%= link_to 'Outdoor Living', products_url(:keywords => URI.encode('Outdoor Living'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Patio/Outdoor Furniture', products_url(:keywords => URI.encode('Patio/Outdoor Furniture'.downcase), :page => 1) %></li>
    <li><%= link_to 'Grilling', products_url(:keywords => URI.encode('Grilling'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li class="s-link"><b><u><%= link_to 'Outdoors', products_url(:keywords => URI.encode('Outdoors'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Hiking & Camping', products_url(:keywords => URI.encode('Hiking & Camping'.downcase), :page => 1) %></li>
    <li><%= link_to 'Picnicking', products_url(:keywords => URI.encode('Picnicking'.downcase), :page => 1) %></li>
    <li><%= link_to 'Gardening', products_url(:keywords => URI.encode('Gardening'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li class="s-link"><b><u><%= link_to 'Sports & Games', products_url(:keywords => URI.encode('Sports & Games'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Biking & Fitness', products_url(:keywords => URI.encode('Biking & Fitness'.downcase), :page => 1) %></li>
    <li><%= link_to 'Games', products_url(:keywords => URI.encode('Games'.downcase), :page => 1) %></li>
    <li><%= link_to 'Pets', products_url(:keywords => URI.encode('Pets'.downcase), :page => 1) %></li>
  </div>
</div>