<div class="row">
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Luggage & Travel', products_url(:keywords => URI.encode('Luggage & Travel'.downcase), :page => 1) %></u></b></li>
    <li><%= link_to 'Luggage', products_url(:keywords => URI.encode('Luggage'.downcase), :page => 1) %></li>
    <li><%= link_to 'Travel Accessories', products_url(:keywords => URI.encode('Travel Accessories'.downcase), :page => 1) %></li>
    <li><%= link_to 'Tote Bags & Clutches', products_url(:keywords => URI.encode('Tote Bags & Clutches'.downcase), :page => 1) %></li>
    <li><%= link_to 'Backpacks', products_url(:keywords => URI.encode('Backpacks'.downcase), :page => 1) %></li>
  </div>
  <div class='col-sm-2 nav'>
    <li><b><u><%= link_to 'Honeymoon Fund Direct', products_url(:keywords => URI.encode('Honeymoon Fund Direct'.downcase), :page => 1) %></u></b></li>
  </div>
</div>