<%= simple_form_for(:user, :url => registration_path(:user), class: 'navbar-form navbar-right loginBar') do |f| %>
  <table width='100%', id='reg-form'>
    <!-- Email address -->
    <tr>
      <td colspan=2 style="padding-bottom:10px"><%= f.text_field :email, placeholder: 'Email address', class: 'textfield input login', id: 'email', value: (current_user.email if user_signed_in?) %></td>
    </tr>
    <!-- Password -->
    <tr>
      <td colspan=2 style="padding-bottom:10px"><%= f.password_field :password, placeholder: 'Password', class: 'textfield input login', id: 'password' %></td>
    </tr>
    <!-- Confirm password -->
    <tr>
      <td colspan=2 style="padding-bottom:10px"><%= f.password_field :password_confirmation, placeholder: 'Password confirmation', class: 'textfield input login', id: 'confirm-password' %></td>
    </tr>
    
    <tr>
      <td><%= f.submit 'Sign up!', { :class => 'btn btn-login match-input disabled', :id => "signup" } %></td>
    </tr>
  </table>
<% end %>